{% extends "layout.njk" %}

{% set title = "Histórico de conectividade dos hosts" %}

{% block content %}
	<h1 class="my-5 text-center">{{ title }}</h1>
	<form id="formHost">
		<div class="form-group">
			<label for="hostname">Nome do host</label>
			<input type="text"
			class="form-control" name="name" id="hostname" aria-describedby="helpId" placeholder="hostname">
			<small id="helpId" class="form-text text-muted">Nome do host para testar conectividade</small>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

	<label for="sel2">A partir do nome do host os demais valores serão calculados(versão final no projeto):</label>
	<select multiple class="form-control" id="hostselection" onchange="hostChanged()">
		{% for host in hosts %}
			<option>
				<table width:100%;
					<tr>
						<td>{{host.id}}</td>
					<td>{{host.name}}</td>
					<td>{{host.IPV4}}</td>
					<td>{{host.online}}</td>
					<td>{{host.lastcheck}}</td>
				</tr>
			</table>
		</option>
	{% endfor %}
</select>
<section class="card-deck">
	<div class="card" id="hostCard">
		<div class="card-header text-center font-weight-bold">
			<span >Nome:{{ host.name }}</span>
		</div>
		<div class="card-footer text-right">
			{{ host.online }}
		</div>
	</div>
</section>
{% endblock %}
{% block script %}
<script type="module">

	import api from '/js/clientapi.js';

	const formHost = document.querySelector('#formHost');

	formHost.onsubmit = async (e) => {
		e.preventDefault();

		const datainfo = Object.fromEntries(new FormData(formHost));
		if( ! datainfo.name ){
			alert( "Dados nulos não serão processados!!!");
			return
		}
		try {
			const newHost = await api.create('/hosts', datainfo);
			if( newHost ){
				alert(`OK - Novo Id = ${newHost}`);
			}else{
				alert( 'ERRO na inserção' );
			}			
			location.reload();
		} catch (err) {
			alert(`Erro: ${err} `);
		}

		//if (res.ok) {
		//const signin = await res.json();

		//	if (signin.auth) {
		//		localStorage.setItem('@HostsApp:token', signin.token);
		//		location.href = '/hosts/index';
		//	}
		//} else {
		//	console.log('erro no login.');
		//	showToast('Erro no login.');
		//}

	};
</script>
<script>
	async function hostChanged() {
		ctl = document.getElementById("hostselection");
		sel = this.ctl.selectedOptions;
		if (sel && sel[0].innerText != '') { //HACK trata-se de table, dai o indice
			key = sel[0]
				.innerText
				.split(' ')[0]; //leitura da chave
		} else {
			key = null;
		}
		try {
			const hostdata = await fetchHostData(key);
			alert(JSON.stringify(hostdata));
		} catch (err) {
			alert(`Fetch problem: ${err.message}`);
		}
	}

	async function fetchHostData(key) {
		const ret = await fetch(`${document.location.origin}/hosts/${key}`);
		if (!ret.ok) {
			throw new Error(ret.statusText);
		}
		const json = await ret.json();
		if (json.auth && json.auth === false) {
			throw new Error(json.message);
		}
		return json;
	}

	//leitura dos tamanhos dos arquivos
	const sizes = document.querySelectorAll('.card-footer');
	sizes.forEach((size) => {
		size.innerHTML = "Online = " + size.innerHTML;
	});

	//leitura dos conteúdos de texto
	const fileContents = document.querySelectorAll('.roger-textarea');
	fileContents.forEach((fileURL) => {
		url = fileURL.ownerDocument.location.origin + fileURL
			.value
			.trim();
		var xmlhttp,
			text;
		xmlhttp = new XMLHttpRequest();
		xmlhttp.open('GET', url, false);
		xmlhttp.send();
		text = xmlhttp.responseText;
		fileURL.value = text;
	});
</script>
{% endblock %}