{% extends "layout.njk" %}

{% set title = "Histórico de conectividade dos hosts" %}

{% block content %}
	<h1 class="my-5 text-center">{{ title }}</h1>
	<form>
		<div class="form-group">
			<label for="hostname">Nome do host</label>
			<input type="text"
			class="form-control" name="hostname" id="hostname" aria-describedby="helpId" placeholder="hostname">
			<small id="helpId" class="form-text text-muted">Nome do host para testar conectividade</small>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

	<label for="sel2">Mutiple select list (hold shift to select more than one):</label>
	<select multiple class="form-control" id="sel2">

		{% for id, name,
		IPV4,
		online,
		lastcheck in hosts %}
			<option>
				<table width:100%;
				<tr>
					<td>{{id}}</td>
					<td>{{name}}</td>
					<td>{{IPV4}}</td>
					<td>{{online}}</td>
					<td>{{lastcheck}}</td>
				</tr>
			</table>
		</option>
	{% endfor %}
</option>
<option>
	2
	</option>
<option>3</option>
<option>4</option>
<option>5</option>
</select>

<section class="card-deck">
{% for host in hosts %}
	<div class="card">
		<div class="card-header text-center font-weight-bold">
			<span>Nome:{{ host.name }}</span>
		</div>
		{% if file.isDirectory %}
			<div class="card-body p-0">
				<i class="fas fa-h3    "></i>
				<img src="/imgs/folder.png" alt="{{ file.name }}" class="w-100">
			</div>
		{% elif file.isImage %}
			<div class="card-body p-0">
				<i class="fas fa-h3    "></i>
				<img src="/datafiles/{{ file.name }}" alt="{{ file.name }}" class="w-100">
			</div>
		{% elif file.isText %}
			<div class="card-body p-0">
				<div class="roger-fullparent">
					<textarea class="roger-textarea"
								id="resultGetFileContent"							
								placeholder="Em breve o arquivo....">
								/datafiles/{{ file.name }}
					</textarea>
				</div>
			</div>
		{% else %}
			<div class="card-body p-0">
				<img src="/imgs/unknown.png" alt="{{ file.name }}" class="w-100">
				{# <img src="{{ file.image }}" alt="{{ file.name }}" class="w-100"> #}
			</div>
		{% endif %}
		<div class="card-footer text-right">
			{{ file.size }}
		</div>
	</div>
{% endfor %}
</section>

<div class="form-group">
<label for="debugdata">Recebido=</label>
<textarea class="form-control" name="debugdata" id="debugdata" rows="3">{{data}}</textarea>
</div>

{% endblock %}

{% block script %}
<script>
//info debug
//!! importante
const viewDebug = "{{viewDebug}}";
dbgControl = document.getElementById("debugdata");
if (viewDebug === 'true') {
	content = "{{ getNunjucksVars() | dump }}"
	if (content) {
		dbgControl.innerHTML = content;
	} else {
		dbgControl.innerHTML = "Nada recebido para hosts";
	}
} else {
	dbgControl.hidden = true;
}


//leitura dos tamanhos dos arquivos
const sizes = document.querySelectorAll('.card-footer');
sizes.forEach((size) => {
	size.innerHTML = "Tamanho = " + size.innerHTML;
});

//leitura dos conteúdos de texto
const fileContents = document.querySelectorAll('.roger-textarea');
fileContents.forEach((fileURL) => {
	url = fileURL.ownerDocument.location.origin + fileURL
		.value
		.trim();
	var xmlhttp,
		text;
	xmlhttp = new XMLHttpRequest();
	xmlhttp.open('GET', url, false);
	xmlhttp.send();
	text = xmlhttp.responseText;
	//text = 'Conteúdo remoto capturado com sucesso!!!' + url;
	//fileURL.innerHTML = text + fileURL.innerHTML;
	fileURL.value = text;
});
</script>
{% endblock %}